@charset "utf-8";
/* =========================================================
   The root elemen
========================================================= */
html {
  font-size: $s;
  min-height: 100%;
}
body {
  background-color: #fff;
  background-repeat: no-repeat;
  color: $b6;
  font-family: $fonts;
  font-weight: 300;
  letter-spacing: 0.1px;
  line-height: 1.55;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================================================
   Grouping content
========================================================= */
iframe {
  vertical-align: middle;
}

/* =========================================================
   Text-level semantics
========================================================= */
a {
  color: $bl10;
  transition: color 0.1s ease;
  text-decoration: none;
  &:link,
  &:visited {
    color: $bl10;
  }
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    color: $bl12;
  }
}


h1, h2, h3, h4, h5, h6 {
  &,
  & > a {
    color: $b12;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* =========================================================
   List items
========================================================= */
dl {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 0;
  }
  dt {
    margin-bottom: 1em;
  }
  dd {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ul {
  -webkit-margin-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  -moz-margin-start: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-padding-start: 0;
  -ms-margin-start: 0;
  -ms-margin-before: 0;
  -ms-margin-after: 0;
  -ms-padding-start: 0;
  list-style: none;
}

/* =========================================================
   Embedded content
========================================================= */
img {
  vertical-align: bottom;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}

/* =========================================================
   Tabular data
========================================================= */
table {
  font: 100%;
  font-size: inherit;
  border-spacing: 0;
  border-collapse: collapse;
}
