.left { float: left; }
.right { float: right; }

.xxxl { font-size: $xxxl!important; }
.xxl { font-size: $xxl!important; }
.xl { font-size: $xl!important; }
.l { font-size: $l!important; }
.m { font-size: $m!important; }
.s { font-size: $s!important; }
.xs { font-size: $xs!important; }

.karning { margin-right: -.4rem; }
